

/* LOADER
 * =========================================
 */

.loader {
    position: absolute;
    width: 80%;
    height: 100%;
    background: black;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 100;
    display: flex;
    align-items: center;
}

.loader .stuff {
    height: 30vh;
    width: 100%;
}

.loader img {
    max-width: 120px;
}

.loader * {
    margin-bottom: 30px;
}



/* BODY - GENERAL
 * =========================================
 */

body {
    background: black;
    width: 100vw;
}

.main {
    width: 80vw;
    margin: -5px auto;
    height: 100vh;
    overflow: hidden;
}

img {
    margin-bottom: -4px;
    width: 100%;
}

.parallax {
    position: relative;
    overflow: hidden;
}

.bcg {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.foreground {
    width: 100%;
    position: relative;
    top: 0;
    z-index: 2;
}

.hide {
    display: none;
}



/* EPISODE 2
 * =========================================
 */

.foreground.forest-1,
.foreground.forest-2,
.foreground.forest-3,
.foreground.forest-4
{
    position: absolute;
}

.bcg.bcg-forest {
    position: relative;
}