body{
  height: 100vh;
  background-image: url('./../images/homepage/fond_espace.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#cockpit-bcg-up,
#cockpit-bcg-down {
  width: 100vw;
  position: absolute;
  z-index: 5;
}

#cockpit-bcg-up {
  top: -10px;
}

#cockpit-bcg-down {
  bottom: 0;
}

#episodes-bcg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

#episodes-bcg img,
#hyperspace-gif
{
  width: 100%;
  position: absolute;
}

.home-menu {
  height: 400px;
  width: 400px;
  margin-left: 40px;
  background: url( './../images/homepage/cadre_menu_episodes.png' ) no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding: 23px 40px 28px 28px;
  box-sizing: border-box;
  z-index: 10;
}
.episodes{
  width: 100%;
  display: block;
}

.episodes:hover {
  cursor: pointer;
}



/* .hidden{
  display: none;
} */