
body {
  background: black;
}

/* LOADER
 * =========================================
 */

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
  text-align: center;
  color: white;
  font-size: 24px;
  z-index: 100;
  display: flex;
  align-items: center;
}

.loader .stuff {
  height: 30vh;
  width: 100%;
}

.loader img {
  max-width: 120px;
}

.loader * {
  margin-bottom: 30px;
}



/* HEADER
 * =========================================
 */

 .header {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 10px;
  z-index: 20;
 }

.languages-menu {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.languages-menu img {
  height: 25px;
  align-self: center;
  border: 1px solid white;
}

.right-hand-menu {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

#full-screen-btn {
  height: 25px;
}

#sound-box img {
  height: 25px;
  width: 25px;
}

.header img:hover {
  cursor: pointer;
}



/* MAIN
 * =========================================
 */

.main{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

#mobile-logo {
  display: none;
}

#cockpit-elements {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#cockpit-bcg-up,
#cockpit-bcg-down {
  width: 100vw;
  position: absolute;
  z-index: 5;
}

#cockpit-bcg-up {
  top: -10px;
}

#cockpit-bcg-down {
  bottom: 0px;
}

#episodes-bcg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

#hyperspace-gif {
  width: 100%;
  height: 100%;
  background-image: url( "./../../images/homepage/hyperspace.gif" );
  background-size: cover;
  background-position: center;
}

.bg,
.bg-void
{
  position: relative;
  left: 50%;
  transform: translateX( -50% );
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg-void {
  background-image: url('./../images/homepage/fond_espace.png');
  background-size: cover;
  background-position: center;
}

#bg-1 {
  background-image: url( "./../../images/homepage/episode-backgrounds/fond_ep1.png" );
}

#bg-2 {
  background-image: url( "./../../images/homepage/episode-backgrounds/locked/fond_ep2.png" );
}

#bg-3 {
  background-image: url( "./../../images/homepage/episode-backgrounds/locked/fond_ep3.png" );
}

#bg-4 {
  background-image: url( "./../../images/homepage/episode-backgrounds/locked/fond_ep4.png" );
}

#bg-5 {
  background-image: url( "./../../images/homepage/episode-backgrounds/locked/fond_ep5.png" );
}

#bg-6 {
  background-image: url( "./../../images/homepage/episode-backgrounds/locked/fond_ep6.png" );
}

.bottom-gradient {
  display: none;
  position: absolute;
  bottom: 0;
}


/* EPISODES MENU
 * =========================================
 */

 .home-menu {
  height: auto;
  width: 320px;
  margin-left: 40px;
  transform: translateY( -12% );
  background: url( './../images/homepage/cadre_menu_episodes.png' ) no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  padding: 20px 30px 30px 23px;
  box-sizing: border-box;
  z-index: 50;
}

.episodes{
  width: 100%;
}

.episodes:hover {
  cursor: pointer;
}

.episode-box {
  position: relative;
}

.glow {
  z-index: 5;
}

.no-glow {
  position: absolute;
  width: 100%;
  z-index: 6;
}

.hidden {
  display: none;
}



/* FOOTER
 * =========================================
 */

footer {
  width: 100vw;
  background: black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 10vw 50px;
  z-index: 30;
}

footer img {
  height: 100%;
}

.logo-container {
  width: 256.11px;
  height: 35px;
}






/* MOBILE & TABLET
 * ==================================================================================
 * ==================================================================================
 */

@media ( max-width: 1150px ) {

  .logo-container {
    width: 182.94px;
    height: 25px;
  }

  .bg,
  .bg-void
  {
    width: 140%;
  }

}

@media ( max-width: 890px ) {

  .logo-container {
    width: 146.34px;
    height: 20px;
  }

  .bg,
  .bg-void
  {
    width: 170%;
  }

}

@media ( max-width: 790px ) {

  footer {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  footer > * {
    margin-bottom: 30px;
  }

  iframe {
    order: 1;
  }

  .logo-container {
    text-align: center;
  }
  
}

@media ( max-width: 480px ) {

  .main {
    flex-direction: column;
  }

  #full-screen-btn,
  #cockpit-bcg-up,
  #cockpit-bcg-down
  {
    display: none;
  }

  #cockpit-elements {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
  }

  #mobile-logo {
    display: block;
    width: 70vw;
    z-index: 20;
  }

  .header {
    position: relative;
    justify-content: center;
  }

  .right-hand-menu {
    position: fixed;
    width: 25px;
    top: 10px;
    right: 10px;
  }
  
  .home-menu {
    margin: 0 auto;
    position: relative;
    top: 30%;
    transform: translateY( -50% );
  }
  
  .bottom-gradient {
    display: block;
    width: 100vw;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
    position: absolute;
    bottom: 0px;
    z-index: 20;
  }

}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  #sound-box {
    display: none;
  }
}