.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: black;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:before {
  position: absolute;
  top: 58%;
  width: 100vw;
  content: 'Ceci est une bande dessinée animée et sonore, connexion performante recommandée !';
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
  color: white;
  text-align: center;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  width: 100vw;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 100vh;
  text-align: center;
  color: white;
}
